@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">PIN projekt - Kripto valute Demo</h1>
        <p></p>
        <p></p>
    </div>

<script src="https://widgets.coingecko.com/coingecko-coin-price-marquee-widget.js"></script>
<coingecko-coin-price-marquee-widget coin-ids="bitcoin,ethereum,eos,ripple,litecoin" currency="usd" background-color="#ffffff" locale="en"></coingecko-coin-price-marquee-widget>

<div class="text-center">
    <p></p>
    <p></p>
    <p>Više o kripto valutama možete pronaci na <a href="https://coinmarketcap.com/"> CoinMarketCap</a>.</p>
</div>