@model PinKripto05.Models.KriptoTrades

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Unos nove kripto valute (KriptoName) u bazu</h1>


<p> Tocan naziv kripto valute (KriptoName) pogledajte na <a href="https://coinmarketcap.com/">CoinMarketCap</a> </p>
<p>koristiti samo mala slova</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            
            <div class="form-group">
                <label asp-for="KriptoName" class="control-label"></label>
                <input asp-for="KriptoName" class="form-control" />
                <span asp-validation-for="KriptoName" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
