@model IEnumerable<PinKripto05.Models.KriptoTrades>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Kripto Unos</h1>


<p>
    <a asp-action="Create">Unesite novu kripto valutu (KriptoName) u bazu</a>
</p>

<h4>Kripto valute koje se trenutno nalaze u bazi:</h4>

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Symbol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KriptoName)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            
            <td>
                @Html.DisplayFor(modelItem => item.Symbol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KriptoName)
            </td>
            
        </tr>
}
    </tbody>
</table>
